#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul ul {
	margin-left: 10px;
	
}

#menu a.parent {
	padding-left: 25px;
	background-image: '\f0da';
}

#menu a.parent .open {
	background-image: '\f0d7';
}