#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul {
	margin-left: 20px;
	display: none;
}
#menu a {
	text-decoration: none;
}
#menu a.parent:before {
	font-family: FontAwesome;
	content: '\f0da';
	margin-right: 10px;
	color: #333;
	width: 15px;
}
#menu li.open > a.parent:before {
	font-family: FontAwesome;
	content: '\f0d7';
}
