<div id="menu">
  <div id="en-gb" style="display: none;">
    <h4 class="hidden-xs hidden-sm">Categories</h4>
    <ul>
      <li><a href="introduction/">Home</a></li>
      <li><a href="requirements/">System Requirements</a></li>
      <li><a href="installation/">Installation</a></li>
      <li><a href="getting-started/">Getting Started</a></li>
      <li><a href="download/">Where to download</a></li>
      <li><a href="store-front/">Browsing the Store Front</a></li>
      <li><a href="" class="parent">Admin Interface</a>
        <ul>
          <li><a href="administration/">Overview</a></li>
          <li><a href="administration/filter/">Filter</a></li>
          <li><a href="administration/image-manager/">Image Manager</a></li>
          <li><a href="administration/language/">Adding Multiple Languages</a></li>
          <li><a href="administration/multi-store/">Creating a Multi-Store</a></li>
          <li><a href="administration/moving-server/">Moving OpenCart to a New Server</a></li>
          <li><a href="administration/seo/">SEO Keywords</a></li>
          <li><a href="administration/ssl/">SSL Certificates and HTTPS</a></li>
          <li><a href="administration/security/">Basic Security Practices</a></li>
          <li><a href="administration/vqmod/">vQmod</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Catalog</a>
        <ul>
          <li><a href="" class="parent">Categories</a>
            <ul>
              <li><a href="catalog/category/">Overview</a></li>
              <li><a href="catalog/category/general/">General</a></li>
              <li><a href="catalog/category/data/">Data</a></li>
              <li><a href="catalog/category/seo/">SEO</a></li>
              <li><a href="catalog/category/design/">Design</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Products</a>
            <ul>
              <li><a href="catalog/product/">Overview</a></li>
              <li><a href="catalog/product/general/">General</a></li>
              <li><a href="catalog/product/data/">Data</a></li>
              <li><a href="catalog/product/link/">Links</a></li>
              <li><a href="catalog/product/attribute/">Attribute</a></li>
              <li><a href="catalog/product/option/">Option</a></li>
              <li><a href="catalog/product/discount/">Discount</a></li>
              <li><a href="catalog/product/special/">Special</a></li>
              <li><a href="catalog/product/image/">Image</a></li>
              <li><a href="catalog/product/reward/">Reward Points</a></li>
              <li><a href="catalog/product/seo/">SEO</a></li>
              <li><a href="catalog/product/design/">Design</a></li>
            </ul>
          </li>
          <li><a href="catalog/profile/">Profiles</a></li>
          <li><a href="catalog/filter/">Filters</a></li>
          <li><a href="catalog/attribute/">Attributes</a></li>
          <li><a href="catalog/option/">Options</a></li>
          <li><a href="catalog/manufacturer/">Manufacturers</a></li>
          <li><a href="catalog/download/">Downloads</a></li>
          <li><a href="catalog/review/">Reviews</a></li>
          <li><a href="catalog/information/">Information</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Extensions</a>
        <ul>
          <li><a href="extension/marketplace/">Marketplace</a></li>
          <li><a href="extension/installer/">Extension Installer</a></li>
          <li><a href="" class="parent">Extensions</a>
            <ul>
              <li class="hidden"><a href="extension/analytics/">Analytics</a></li>
              <li class="hidden"><a href="extension/captchas/">Captchas</a></li>
              <li class="hidden"><a href="extension/dashboard/">Dashboard</a></li>
              <li><a href="extension/feed/">Feeds</a></li>
              <li><a href="extension/fraud/">Anti-Fraud</a></li>
              <li><a href="" class="parent">Modules</a>
                <ul>
                  <li><a href="extension/module/">Core Modules</a></li>
                  <li><a href="extension/module/install/">Install/Uninstall</a></li>
                  <li><a href="extension/module/edit/">Editing a Module</a></li>
                  <li><a href="extension/module/3rd-party/">3rd Party Modules</a></li>
                </ul>
              </li>
              <li><a href="extension/payment/">Payment Gateways</a></li>
              <li class="hidden"><a href="extension/reports/">Reports</a></li>
              <li><a href="extension/shipping/">Shipping</a></li>
              <li><a href="extension/theme/">Themes</a></li>
              <li><a href="extension/order-total/">Order Totals</a></li>
            </ul>
          </li>
          <li><a href="extension/modifications/">Modifications</a></li>

          <li><a href="extension/cron/">Cron</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Sales</a>
        <ul>
          <li><a href="sale/order/">Orders</a></li>
          <li><a href="sale/recurring/">Recurring Orders</a></li>
          <li><a href="sale/return/">Returns</a></li>
          <li><a href="" class="parent">Customers</a>
            <ul>
              <li><a href="sale/customer/">Overview</a></li>
              <li><a href="sale/customer/group/">Customer Groups</a></li>
              <li><a href="sale/customer/ip-blacklist/">IP Blacklist</a></li>
            </ul>
          </li>
          <li><a href="sale/gift-voucher/">Gift Vouchers</a></li>
          <li><a href="sale/paypal/">PayPal</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Marketing</a>
        <ul>
          <li><a href="marketing/marketing/">Marketing</a></li>
          <li><a href="marketing/affiliate/">Affiliates</a></li>
          <li><a href="marketing/coupon/">Coupons</a></li>
          <li><a href="marketing/mail/">Mail</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">System</a>
        <ul>
          <li><a href="" class="parent">Settings</a>
            <ul>
              <li><a href="system/setting/general/">General</a></li>
              <li><a href="system/setting/store/">Store</a></li>
              <li><a href="system/setting/local/">Local</a></li>
              <li><a href="system/setting/option/">Option</a></li>
              <li><a href="system/setting/image/">Image</a></li>
              <li><a href="system/setting/mail/">Mail</a></li>
              <li><a href="system/setting/fraud/">Fraud</a></li>
              <li><a href="system/setting/server/">Server</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Design</a>
            <ul>
              <li><a href="system/design/layout/">Layouts</a></li>
              <li><a href="system/design/banner/">Banners</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Users</a>
            <ul>
              <li><a href="system/users/user/">Users</a></li>
              <li><a href="system/users/groups/">User Group</a></li>
              <li><a href="system/users/api/">API</a></li>
            </ul>

          <li><a href="" class="parent">Localisation</a>
            <ul>
              <li><a href="system/localisation/location/">Store Location</a></li>
              <li><a href="system/localisation/language/">Language</a></li>
              <li><a href="system/localisation/currency/">Currency</a></li>
              <li><a href="system/localisation/stock-status/">Stock status</a></li>
              <li><a href="system/localisation/order-status/">Order status</a></li>
              <li><a href="system/localisation/return/">Returns</a></li>
              <li><a href="system/localisation/country/">Countries</a></li>
              <li><a href="system/localisation/zone/">Zone</a></li>
              <li><a href="system/localisation/geo-zone/">Geo zone</a></li>
              <li><a href="system/localisation/tax/">Taxes</a></li>
              <li><a href="system/localisation/length-class/">Length class</a></li>
              <li><a href="system/localisation/weight-class/">Weight class</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="" class="parent">Tools</a>
        <ul>
          <li><a href="tools/uploads/">Uploads</a></li>
          <li><a href="tools/backup/">Backup/Restore</a></li>
          <li><a href="tools/error-log/">Error logs</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Reports</a>
        <ul>
          <li><a href="" class="parent">Sales Report</a>
            <ul>
              <li><a href="report/sale/order/">Orders report</a></li>
              <li><a href="report/sale/tax/">Tax report</a></li>
              <li><a href="report/sale/shipping/">Shipping report</a></li>
              <li><a href="report/sale/return/">Returns report</a></li>
              <li><a href="report/sale/coupon/">Coupon Report</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Product Reports</a>
            <ul>
              <li><a href="report/product/viewed/">Products Viewed Report</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Customer Reports</a>
            <ul>
              <li><a href="report/customer/online/">Customers Online</a></li>
              <li><a href="report/customer/activity/">Customer Activity</a></li>
              <li><a href="report/customer/order/">Order Report</a></li>
              <li><a href="report/customer/reward/">Reward Points Report</a></li>
              <li><a href="report/customer/credit/">Customer Credit Report</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Marketing</a>
            <ul>
              <li><a href="report/marketing/marketing/">Marketing</a></li>
              <li><a href="report/marketing/commission/">Affiliate</a></li>
              <li><a href="report/marketing/activity/">Affiliate Activity</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="" class="parent">Developer Guide</a>
        <ul>
          <li><a href="developer/module/">Developing Modules</a></li>
          <li><a href="developer/product-feed/">Developing new product feeds</a></li>
          <li><a href="developer/loading/">Loading files in the controller</a></li>
        </ul>
      </li>
      <li><a href="upgrading/">Upgrading</a></li>
    </ul>
  </div>

  <div id="zh-hk" style="display: none;">
    <h4 class="hidden-xs hidden-sm">目錄</h4>
    <ul>
      <li><a href="introduction/">關於OpenCart</a></li>
      <li><a href="requirements/">系統 / 伺服器需求</a></li>
      <li><a href="installation/">安裝OpenCart</a></li>
      <li><a href="getting-started/">入門須知</a></li>
      <li><a href="download/">如何下載</a></li>
      <li><a href="store-front/">網店店面</a></li>
      <li><a href="" class="parent">管理者介面</a>
        <ul>
          <li><a href="administration/">概覽</a></li>
          <li><a href="administration/filter/">篩選</a></li>
          <li><a href="administration/image-manager/">圖片管理</a></li>
          <li><a href="administration/language/">新增多種語言</a></li>
          <li><a href="administration/multi-store/">建立分店功能</a></li>
          <li><a href="administration/moving-server/">遷移OpenCart至新伺服器</a></li>
          <li><a href="administration/seo/">SEO關鍵字</a></li>
          <li><a href="administration/ssl/">SSL網站安全證書 及 HTTPS</a></li>
          <li><a href="administration/security/">基本安全措施</a></li>
          <li><a href="administration/vqmod/">vQmod</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">產品目錄</a>
        <ul>
          <li><a href="" class="parent">產品類別</a>
            <ul>
              <li><a href="catalog/category/">概覽</a></li>
              <li><a href="catalog/category/general/">一般</a></li>
              <li><a href="catalog/category/data/">資料</a></li>
              <li><a href="catalog/category/seo/">SEO</a></li>
              <li><a href="catalog/category/design/">板面設計</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">產品</a>
            <ul>
              <li><a href="catalog/product/">概覽</a></li>
              <li><a href="catalog/product/general/">一般</a></li>
              <li><a href="catalog/product/data/">資料</a></li>
              <li><a href="catalog/product/link/">連結</a></li>
              <li><a href="catalog/product/attribute/">屬性</a></li>
              <li><a href="catalog/product/option/">選項</a></li>
              <li><a href="catalog/product/discount/">折扣優惠</a></li>
              <li><a href="catalog/product/special/">特價優惠</a></li>
              <li><a href="catalog/product/image/">圖片</a></li>
              <li><a href="catalog/product/reward/">積分</a></li>
              <li><a href="catalog/product/seo/">SEO</a></li>
              <li><a href="catalog/product/design/">板面設計</a></li>
            </ul>
          </li>
          <li><a href="catalog/profile/">重複性配置</a></li>
          <li><a href="catalog/filter/">篩選</a></li>
          <li><a href="catalog/attribute/">屬性</a></li>
          <li><a href="catalog/option/">選項</a></li>
          <li><a href="catalog/manufacturer/">廠商 / 品牌</a></li>
          <li><a href="catalog/download/">下載項目</a></li>
          <li><a href="catalog/review/">產品評級</a></li>
          <li><a href="catalog/information/">資訊頁面</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">插件</a>
        <ul>
          <li><a href="extension/marketplace/">市場</a></li>
          <li><a href="extension/installer/">安裝插件</a></li>
          <li><a href="" class="parent">插件</a>
            <ul>
              <li class="hidden"><a href="extension/analytics/">分析</a></li>
              <li class="hidden"><a href="extension/captchas/">認証</a></li>
              <li class="hidden"><a href="extension/dashboard/">面板</a></li>
              <li><a href="extension/feed/">產品數據</a></li>
              <li><a href="extension/fraud/">反欺詐</a></li>
              <li><a href="" class="parent">模組</a>
                <ul>
                  <li><a href="extension/module/">核心模組</a></li>
                  <li><a href="extension/module/install/">安裝 / 卸載</a></li>
                  <li><a href="extension/module/edit/">編輯模組</a></li>
                  <li><a href="extension/module/3rd-party/">非官方模組</a></li>
                </ul>
              </li>
              <li><a href="extension/payment/">支付平台</a></li>
              <li class="hidden"><a href="extension/reports/">報告</a></li>
              <li><a href="extension/shipping/">貨運平台</a></li>
              <li><a href="extension/theme/">主題</a></li>
              <li><a href="extension/order-total/">帳單金額</a></li>
            </ul>
          </li>
          <li><a href="extension/modifications/">修改</a></li>

          <li><a href="extension/cron/">定時任務</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">銷售</a>
        <ul>
          <li><a href="sale/order/">訂單</a></li>
          <li><a href="sale/recurring/">定期訂單</a></li>
          <li><a href="sale/return/">退貨</a></li>
          <li><a href="" class="parent">客戶</a>
            <ul>
              <li><a href="sale/customer/">概覽</a></li>
              <li><a href="sale/customer/group/">客戶群組</a></li>
              <li><a href="sale/customer/ip-blacklist/">IP黑名單</a></li>
            </ul>
          </li>
          <li><a href="sale/gift-voucher/">禮券</a></li>
          <li><a href="sale/paypal/">PayPal</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">市場推廣</a>
        <ul>
          <li><a href="marketing/marketing/">市場推廣計劃</a></li>
          <li><a href="marketing/affiliate/">加盟商戶</a></li>
          <li><a href="marketing/coupon/">優惠券</a></li>
          <li><a href="marketing/mail/">電郵</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">系統</a>
        <ul>
          <li><a href="" class="parent">商店設定</a>
            <ul>
              <li><a href="system/setting/general/">一般</a></li>
              <li><a href="system/setting/store/">商店</a></li>
              <li><a href="system/setting/local/">地區</a></li>
              <li><a href="system/setting/option/">選項</a></li>
              <li><a href="system/setting/image/">圖片</a></li>
              <li><a href="system/setting/mail/">電郵</a></li>
              <li><a href="system/setting/fraud/">Fraud</a></li>
              <li><a href="system/setting/server/">伺服器</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">設計</a>
            <ul>
              <li><a href="system/design/layout/">頁面設計</a></li>
              <li><a href="system/design/banner/">橫額</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">用戶</a>
            <ul>
              <li><a href="system/users/user/">用戶</a></li>
              <li><a href="system/users/groups/">用戶群組</a></li>
              <li><a href="system/users/api/">API</a></li>
            </ul>

          <li><a href="" class="parent">本地化</a>
            <ul>
              <li><a href="system/localisation/location/">實體店(分店)資訊</a></li>
              <li><a href="system/localisation/language/">語言</a></li>
              <li><a href="system/localisation/currency/">貨幣</a></li>
              <li><a href="system/localisation/stock-status/">庫存狀態</a></li>
              <li><a href="system/localisation/order-status/">訂單狀態</a></li>
              <li><a href="system/localisation/return/">退貨</a></li>
              <li><a href="system/localisation/country/">國家</a></li>
              <li><a href="system/localisation/zone/">地區</a></li>
              <li><a href="system/localisation/geo-zone/">地理區域</a></li>
              <li><a href="system/localisation/tax/">稅項設定</a></li>
              <li><a href="system/localisation/length-class/">長度單位</a></li>
              <li><a href="system/localisation/weight-class/">重量單位</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="" class="parent">工具</a>
        <ul>
          <li><a href="tools/uploads/">上載</a></li>
          <li><a href="tools/backup/">備份 / 重置</a></li>
          <li><a href="tools/error-log/">錯誤日誌</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">報告</a>
        <ul>
          <li><a href="" class="parent">銷售報告</a>
            <ul>
              <li><a href="report/sale/order/">訂單報告</a></li>
              <li><a href="report/sale/tax/">稅項報告</a></li>
              <li><a href="report/sale/shipping/">貨運報告</a></li>
              <li><a href="report/sale/return/">退貨報告</a></li>
              <li><a href="report/sale/coupon/">優惠券報告</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">產品報告</a>
            <ul>
              <li><a href="report/product/viewed/">產品報告</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">客戶報告</a>
            <ul>
              <li><a href="report/customer/online/">在線人數</a></li>
              <li><a href="report/customer/activity/">客戶活動</a></li>
              <li><a href="report/customer/order/">訂單報告</a></li>
              <li><a href="report/customer/reward/">積分報告</a></li>
              <li><a href="report/customer/credit/">Customer Credit Report</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">市場推廣</a>
            <ul>
              <li><a href="report/marketing/marketing/">市場推廣</a></li>
              <li><a href="report/marketing/commission/">加盟商戶佣金</a></li>
              <li><a href="report/marketing/activity/">加盟商戶活動</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="" class="parent">編程師指引</a>
        <ul>
          <li><a href="developer/module/">Developing Modules</a></li>
          <li><a href="developer/product-feed/">Developing new product feeds</a></li>
          <li><a href="developer/loading/">Loading files in the controller</a></li>
        </ul>
      </li>
      <li><a href="upgrading/">系統升級</a></li>
    </ul>
  </div>
</div>
