<ul>
  <li><a href="">Home</a></li>
  <li><a href="system-requirements/">System Requirements</a></li>
  <li><a href="">Installation</a></li>
  <li><a href="">Updating OpenCart</a></li>
  <li><a href="">Getting Started</a></li>
  <li><a href="">Where to download</a></li>
  <li><a href="">Browsing the store front</a></li>
  <li><a href="">Admin Interface</a></li>
  <li><a href="">Catalog</a>
    <ul>
      <li><a href="">Catalog</a></li>
      <li><a href="">Categories</a>
        <ul>
          <li><a href="">General</a></li>
          <li><a href="">Data</a></li>
          <li><a href="">Design</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
