<ul id="menu">
  <li><a href="">Home</a></li>
  <li><a href="requirements">System Requirements</a></li>
  <li><a href="installation">Installation</a></li>
  <li><a href="updating-opencart">Updating OpenCart</a></li>
  <li><a href="getting-started">Getting Started</a></li>
  <li><a href="download">Where to download</a></li>
  <li><a href="store-front">Browsing the Store Front</a></li>
  <li><a href="admin-interface">Admin Interface</a></li>
  <li><a href="" class="parent">Catalog</a>
    <ul>
      <li><a href="categories" class="parent">Categories</a>
        <ul>
          <li><a href="catalog/categories/overview">Overview</a></li>
          <li><a href="catalog/categories/general">General</a></li>
          <li><a href="catalog/categories/data">Data</a></li>
          <li><a href="catalog/categories/design">Design</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Products</a>
        <ul>
          <li><a href="catalog/products/overview">Overview</a></li>
          <li><a href="catalog/products/general">General</a></li>
          <li><a href="catalog/products/data">Data</a></li>
          <li><a href="catalog/products/links">Links</a></li>
          <li><a href="catalog/products/attribute">Attribute</a></li>
          <li><a href="catalog/products/option">Option</a></li>
          <li><a href="catalog/products/discount">Discount</a></li>
          <li><a href="catalog/products/special">Special</a></li>
          <li><a href="catalog/products/image">Image</a></li>
          <li><a href="catalog/products/reward-points">Reward Points</a></li>
          <li><a href="catalog/products/design">Design</a></li>
        </ul>
      </li>
      <li><a href="catalog/filters">Filters</a></li>
      <li><a href="catalog/profiles">Profiles</a></li>
      <li><a href="catalog/attributes">Attributes</a></li>
      <li><a href="catalog/options">Options</a></li>
      <li><a href="catalog/manufacturers">Manufacturers</a></li>
      <li><a href="catalog/downloads">Downloads</a></li>
      <li><a href="catalog/reviews">Reviews</a></li>
      <li><a href="catalog/information">Information</a></li>
    </ul>
  </li>
  <li><a href="" class="parent">Extensions</a>
    <ul>
      <li><a href="" class="parent">Modules</a>
        <ul>
          <li><a href="extensions/modules/install-uninstall">Install/Uninstall</a></li>
          <li><a href="extensions/modules/edit">Editing a Module</a></li>
          <li><a href="extensions/modules/overview">Core modules overview</a></li>
          <li><a href="extensions/modules/3rd-party" class="parent">3rd party modules</a></li>
        </ul>
      </li>
      <li><a href="extensions/shipping">Shipping</a></li>
      <li><a href="extensions/payments">Payments</a></li>
      <li><a href="extensions/order-totals">Order Totals</a></li>
      <li><a href="extensions/product-feeds">Product Feeds</a></li>
    </ul>
  </li>
  <li><a href="sales" class="parent">Sales</a>
    <ul>
      <li><a href="orders">Orders</a></li>
      <li><a href="returns">Returns</a></li>
      <li><a href="customers" class="parent">Customers</a>
        <ul>
          <li><a href="customer-groups">Customer Groups</a></li>
          <li><a href="ip-blacklist">IP Blacklist</a></li>
        </ul>
      </li>
      <li><a href="affiliates">Affiliates</a></li>
      <li><a href="coupons">Coupons</a></li>
      <li><a href="gift-vouchers">Gift Vouchers</a></li>
      <li><a href="mail">Mail</a></li>
    </ul>
  </li>
  <li><a href="reports" class="parent">Reports</a>
    <ul>
      <li><a href="affiliate-commission-report">Affiliate commission report</a></li>
      <li><a href="customer-reports" class="parent">Customer reports</a>
        <ul>
          <li><a href="order-reports">Order Reports</a></li>
          <li><a href="reward-points-report">Reward Points Report</a></li>
          <li><a href="customer-credit-report">Customer Credit Report</a></li>
        </ul>
      </li>
      <li><a href="">Products Viewed Report</a></li>
      <li><a href="" class="parent">Sales Report</a>
        <ul>
          <li><a href="">Orders report</a></li>
          <li><a href="">Tax report</a></li>
          <li><a href="">Shipping report</a></li>
          <li><a href="">Returns report</a></li>
          <li><a href="">Coupon Report</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="system" class="parent">System</a>
    <ul>
      <li><a href="" class="parent">Settings</a>
        <ul>
          <li><a href="system/settings/general">General</a></li>
          <li><a href="settings/store">Store</a></li>
          <li><a href="settings/local">Local</a></li>
          <li><a href="settings/option">Option</a></li>
          <li><a href="settings/image">Image</a></li>
          <li><a href="settings/mail">Mail</a></li>
          <li><a href="settings/fraud">Fraud</a></li>
          <li><a href="settings/server">Server</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Design</a>
        <ul>
          <li><a href="settings/layouts">Layouts</a></li>
          <li><a href="settings/banners">Banners</a></li>
        </ul>
      </li>
      <li><a href="users">Users</a></li>
      <li><a href="localisation" class="parent">Localisation</a>
        <ul>
          <li><a href="settings/localisation/language">Language</a></li>
          <li><a href="settings/localisation/currency">Currency</a></li>
          <li><a href="settings/localisation/stock-status">Stock status</a></li>
          <li><a href="settings/localisation/order-status">Order status</a></li>
          <li><a href="settings/localisation/returns">Returns</a></li>
          <li><a href="settings/localisation/countries">Countries</a></li>
          <li><a href="settings/localisation/zone">Zone</a></li>
          <li><a href="settings/localisation/geo-zone">Geo zone</a></li>
          <li><a href="settings/localisation/taxes">Taxes</a></li>
          <li><a href="settings/localisation/length-class">Length class</a></li>
          <li><a href="settings/localisation/weight-class">Weight class</a></li>
        </ul>
      </li>
      <li><a href="error-logs">Error logs</a></li>
      <li><a href="backup-restore">Backup/Restore</a></li>
    </ul>
  </li>
  <li><a href="" class="parent">Miscellaneous</a>
    <ul>
      <li><a href="filter">Filter</a></li>
      <li><a href="image-manager">Image manager</a></li>
    </ul>
  </li>
  <li><a href="system-administrator-guide" class="parent">System administrator guide</a>
    <ul>
      <li><a href="adding-multiple-languages">Adding multiple languages</a></li>
      <li><a href="creating-a-multi-store">Creating a multi-store</a></li>
      <li><a href="image-upload">Image upload</a></li>
      <li><a href="moving-opencart-to-a-new-server">Moving OpenCart to a new server</a></li>
      <li><a href="seo-keywords">SEO keywords</a></li>
      <li><a href="ssl-certificates-and-https">SSL Certificates and HTTPS</a></li>
      <li><a href="vqmod">vQmod</a></li>
      <li><a href="basic-security-practices">Basic security practices</a></li>
    </ul>
  </li>
  <li><a href="" class="parent">Developer Guide</a>
    <ul>
      <li><a href="introduction-to-mvc-l">Introduction to MVC-L</a></li>
      <li><a href="developing-modules" class="parent">Developing modules</a>
        <ul>
          <li><a href="install-uninstall-a-module">Install/Uninstall a module</a></li>
        </ul>
      </li>
      <li><a href="developing-new-product-feeds">Developing new product feeds</a></li>
      <li><a href="loading-files-in-the-controller">Loading files in the controller</a></li>
    </ul>
  </li>
  <li><a href="designer-guide">Designer Guide</a></li>
</ul>
