<div id="menu">
  <div id="ru-ru">
    <h4 class="hidden-xs hidden-sm">Категории</h4>
    <ul>
      <li><a href="introduction/">Вступление</a></li>
      <li><a href="requirements/">Системные требования</a></li>
      <li><a href="installation/">Установка</a></li>
      <li><a href="getting-started/">Начало работы</a></li>
      <li><a href="download/">Где скачать</a></li>
      <li><a href="store-front/">Просмотр витрины магазина</a></li>
      <li><a href="" class="parent">Интерфейс администратора</a>
        <ul>
          <li><a href="administration/">Обзор</a></li>
          <li><a href="administration/filter/">Фильтр</a></li>
          <li><a href="administration/image-manager/">Менеджер изображений</a></li>
          <li><a href="administration/language/">Добавление нескольких языков</a></li>
          <li><a href="administration/multi-store/">Создание мультимагазина</a></li>
          <li><a href="administration/moving-server/">Перемещение OpenCart на новый сервер</a></li>
          <li><a href="administration/seo/">SEO-ключевые слова</a></li>
          <li><a href="administration/ssl/">SSL-сертификаты и HTTPS</a></li>
          <li><a href="administration/security/">Основные правила безопасности</a></li>
          <li><a href="administration/vqmod/">vQmod</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Каталог</a>
        <ul>
          <li><a href="" class="parent">Категории</a>
            <ul>
              <li><a href="catalog/category/">Обзор</a></li>
              <li><a href="catalog/category/general/">Общие</a></li>
              <li><a href="catalog/category/data/">Данные</a></li>
              <li><a href="catalog/category/seo/">Семантический URL</a></li>
              <li><a href="catalog/category/design/">Дизайн</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Продукты</a>
            <ul>
              <li><a href="catalog/product/">Обзор</a></li>
              <li><a href="catalog/product/general/">Общие</a></li>
              <li><a href="catalog/product/data/">Данные</a></li>
              <li><a href="catalog/product/link/">Связи</a></li>
              <li><a href="catalog/product/attribute/">Атрибут</a></li>
              <li><a href="catalog/product/option/">Опция</a></li>
              <li><a href="catalog/product/discount/">Скидка</a></li>
              <li><a href="catalog/product/special/">Акция</a></li>
              <li><a href="catalog/product/image/">Изображение</a></li>
              <li><a href="catalog/product/reward/">Бонусные баллы</a></li>
              <li><a href="catalog/product/seo/">Семантический URL</a></li>
              <li><a href="catalog/product/design/">Дизайн</a></li>
            </ul>
          </li>
          <li><a href="catalog/profile/">Профили</a></li>
          <li><a href="catalog/filter/">Фильтры</a></li>
          <li><a href="catalog/attribute/">Атрибуты</a></li>
          <li><a href="catalog/option/">Опции</a></li>
          <li><a href="catalog/manufacturer/">Производители</a></li>
          <li><a href="catalog/download/">Загрузки</a></li>
          <li><a href="catalog/review/">Отзывы</a></li>
          <li><a href="catalog/information/">Информация</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Расширения</a>
        <ul>
          <li><a href="extension/marketplace/">Магазин дополнений</a></li>
          <li><a href="extension/installer/">Установщик расширений</a></li>
          <li><a href="" class="parent">Расширения</a>
            <ul>
              <li class="hidden"><a href="extension/analytics/">Аналитика</a></li>
              <li class="hidden"><a href="extension/captchas/">Защита от ботов</a></li>
              <li class="hidden"><a href="extension/dashboard/">Инфо Панель</a></li>
              <li><a href="extension/feed/">Каналы</a></li>
              <li><a href="extension/fraud/">Борьба с мошенничеством</a></li>
              <li><a href="" class="parent">Модули</a>
                <ul>
                  <li><a href="extension/module/">Модули ядра</a></li>
                  <li><a href="extension/module/install/">Установить/Удалить</a></li>
                  <li><a href="extension/module/edit/">Редактирование модуля</a></li>
                  <li><a href="extension/module/3rd-party/">Сторонние модули</a></li>
                </ul>
              </li>
              <li><a href="extension/payment/">Платежные шлюзы</a></li>
              <li class="hidden"><a href="extension/reports/">Отчеты</a></li>
              <li><a href="extension/shipping/">Доставка</a></li>
              <li><a href="extension/theme/">Темы</a></li>
              <li><a href="extension/order-total/">Итоги заказа</a></li>
            </ul>
          </li>
          <li><a href="extension/modifications/">Модификации</a></li>
  
          <li><a href="extension/cron/">Cron</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Продажи</a>
        <ul>
          <li><a href="sale/order/">Заказы</a></li>
          <li><a href="sale/recurring/">Периодические заказы</a></li>
          <li><a href="sale/return/">Возвраты</a></li>
          <li><a href="" class="parent">Клиенты</a>
            <ul>
              <li><a href="sale/customer/">Обзор</a></li>
              <li><a href="sale/customer/group/">Группы клиентов</a></li>
              <li><a href="sale/customer/ip-blacklist/">Чёрный список IP-адресов</a></li>
            </ul>
          </li>
          <li><a href="sale/gift-voucher/">Подарочные сертификаты</a></li>
          <li><a href="sale/paypal/">PayPal</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Маркетинг</a>
        <ul>
          <li><a href="marketing/marketing/">Маркетинг</a></li>
          <li><a href="marketing/affiliate/">Партнеры</a></li>
          <li><a href="marketing/coupon/">Купоны</a></li>
          <li><a href="marketing/mail/">Рассылка</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Система</a>
        <ul>
          <li><a href="" class="parent">Настройки</a>
            <ul>
              <li><a href="system/setting/general/">Общие</a></li>
              <li><a href="system/setting/store/">Магазин</a></li>
              <li><a href="system/setting/local/">Лакальность</a></li>
              <li><a href="system/setting/option/">Опция</a></li>
              <li><a href="system/setting/image/">Изображение</a></li>
              <li><a href="system/setting/mail/">Почта</a></li>
              <li><a href="system/setting/fraud/">Мошенничество</a></li>
              <li><a href="system/setting/server/">Сервер</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Дизайн</a>
            <ul>
              <li><a href="system/design/layout/">Макеты</a></li>
              <li><a href="system/design/banner/">Баннеры</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Пользователи</a>
            <ul>
              <li><a href="system/users/user/">Пользователи</a></li>
              <li><a href="system/users/groups/">Группы пользователей</a></li>
              <li><a href="system/users/api/">API</a></li>
            </ul>
  
          <li><a href="" class="parent">Локализация</a>
            <ul>
              <li><a href="system/localisation/location/">Местонахождение магазина</a></li>
              <li><a href="system/localisation/language/">Язык</a></li>
              <li><a href="system/localisation/currency/">Валюта</a></li>
              <li><a href="system/localisation/stock-status/">Статус склада</a></li>
              <li><a href="system/localisation/order-status/">Статус заказа</a></li>
              <li><a href="system/localisation/return/">Возвраты</a></li>
              <li><a href="system/localisation/country/">Страны</a></li>
              <li><a href="system/localisation/zone/">Зона</a></li>
              <li><a href="system/localisation/geo-zone/">Геозона</a></li>
              <li><a href="system/localisation/tax/">Налоги</a></li>
              <li><a href="system/localisation/length-class/">Единица длины</a></li>
              <li><a href="system/localisation/weight-class/">Единица веса</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="" class="parent">Инструменты</a>
        <ul>
          <li><a href="tools/uploads/">Загрузки</a></li>
          <li><a href="tools/backup/">Резервное копирование/Восстановление</a></li>
          <li><a href="tools/error-log/">Журнал ошибок</a></li>
        </ul>
      </li>
      <li><a href="" class="parent">Отчеты</a>
        <ul>
          <li><a href="" class="parent">Отчёт о продажах</a>
            <ul>
              <li><a href="report/sale/order/">Отчет о заказах</a></li>
              <li><a href="report/sale/tax/">Отчёт о налогах</a></li>
              <li><a href="report/sale/shipping/">Отчет о доставке</a></li>
              <li><a href="report/sale/return/">Отчёт о возвратах</a></li>
              <li><a href="report/sale/coupon/">Отчет по купонам</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Отчеты о продукции</a>
            <ul>
              <li><a href="report/product/viewed/">Отчет о просмотре продукции</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Отчеты о клиентах</a>
            <ul>
              <li><a href="report/customer/online/">Клиенты онлайн</a></li>
              <li><a href="report/customer/activity/">Активность клиентов</a></li>
              <li><a href="report/customer/order/">Отчет о заказе</a></li>
              <li><a href="report/customer/reward/">Отчет о бонусных баллах</a></li>
              <li><a href="report/customer/credit/">Кредитный отчет клиента</a></li>
            </ul>
          </li>
          <li><a href="" class="parent">Маркетинг</a>
            <ul>
              <li><a href="report/marketing/marketing/">Маркетинг</a></li>
              <li><a href="report/marketing/commission/">Партнер</a></li>
              <li><a href="report/marketing/activity/">Партнерская активность</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="" class="parent">Руководство разработчика</a>
        <ul>
          <li><a href="developer/module/">Разработка модулей</a></li>
          <li><a href="developer/product-feed/">Разработка новых каналов</a></li>
          <li><a href="developer/loading/">Загрузка файлов в контроллер</a></li>
        </ul>
      </li>
      <li><a href="upgrading/">Обновление</a></li>
    </ul>
  </div>
</div>
